*.bak
*.kicad_pcb-bak
*.ses
*.dsn
*.bin
!jupiter*.bin
*.rules
fp-info-cache
gui_defaults.par
*.sch-bak
*.pdf
*.gbr
*.drl
*.bck
*.dcm
*fp-info-cache*
sdreader/
ExtraFootprints.pretty/
*.gbr
fp-lib-table
sym-lib-table
*.ps
*.csv
*.zip
!KiCad/Archive/*.zip
*.o
*.ls
*.sm8
*.elf
*.dep
*.pdb
*.wdb
*.wed
*.lkf
*.map
*.s19
taperelocate/Release/*
taperelocate/Debug/*
taperelocate/Tapes/*
taperelocate/.vs/*
