*.bak
*.kicad_pcb-bak
*.ses
*.dsn
*.bin
!jupiter*.bin
*.rules
fp-info-cache
gui_defaults.par
*.sch-bak
*.pdf
*.gbr
*.drl
*.zip
*.bck
*.dcm
*fp-info-cache*
sdreader/
ExtraFootprints.pretty/
gerber/
fp-lib-table
sym-lib-table










